.content-section {
  margin-bottom: 80px;
  font-size: 18px;
  line-height: 1.55;

  a {
    color: inherit;
    font-weight: inherit;
    text-decoration: underline;
  }

  .cta-btn {
    text-decoration: none;
  }
}
